@import url(https://use.typekit.net/xiz7evu.css)

@font-face
  font-family: cf_punkrockshow
  font-style: normal
  src: url(../fonts/cf_punkrockshow-webfont.eot),
  src: url(../fonts/cf_punkrockshow-webfont.eot?#iefix) format('eot')
  src: url(../fonts/cf_punkrockshow-webfont.ttf) format('ttf')
  src: url(../fonts/cf_punkrockshow-webfont.woff) format('woff')

$font-base:      'source-sans-pro', 'source sans pro', sans-serif
$font-display:   'cf_punkrockshow', sans-serif
$font-monospace: 'source code pro', 'source-code-pro', 'andale mono', 'andale-mono', monospace
