:root
  color-scheme: light dark
  --color-bg: #fff
  --color-fg: #000
  @media (prefers-color-scheme: dark)
    --color-bg: #222
    --color-fg: #ddd

$color-primary: #fc0

$size-header-base: 2em
$size-sidebar-width: 16em

@import 'fonts.sass'
@import 'syntax.sass'

@mixin subtle
  color: rgba(128,128,128,0.7)

@mixin highlight
  background-color: rgba(0,0,0,0.12)
  @media (prefers-color-scheme: dark)
    background-color: rgba(0,0,0,0.2)

@mixin italic
  font-style: italic

@mixin monospace
  font-family: $font-monospace

@mixin display
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase

*
  font-feature-settings: 'zero' on

html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

header
  +display
  max-width: 46em
  // margin: 1em 0
  margin: 1em auto
  justify-content: space-between
  display: flex
  flex-wrap: nowrap
  align-items: center
  a
    color: var(--color-fg)
    @media (prefers-color-scheme: dark)
      color: $color-primary
    img
      height: 50px
  nav
    ul
      margin: 0 auto
      list-style: none
      li
        font-size: 2em
        margin-left: 0.8em
        display: inline-block

.logo
  // margin: 2em auto
  margin: 0 
  width: fit-content
  img
    height: 50px

.download
  padding: 5px
  text-transform: lowercase

body
  font-family: $font-base
  background: var(--color-bg)
  font-weight: 400
  font-size: 16px
  color: var(--color-fg)

// Main wrapper when sidebar is present (left-justified)
.main-left
  position: fixed
  top: 0
  right: 0
  left: $size-sidebar-width
  bottom: 0
  height: 100%
  overflow-y: auto

// Main wrapper when no sidebar is present (centered)
.main-center
  max-width: 46em
  margin: 0 auto

.main
  // padding: 1em 2em
  padding: 1em 0
  max-width: 46em

a
  text-decoration: none
  color: darken($color-primary, 12%)
  @media (prefers-color-scheme: dark)
    color: $color-primary
  transition: all 0.05s linear
  &:hover
    color: $color-primary
    @media (prefers-color-scheme: dark)
      color: darken($color-primary, 12%)

em
  +italic

code
  +monospace

p
  line-height: 1.5em
  white-space: pre-line
  code
    padding: 0 0.1em
  img
    max-width: 100%
    height: auto

h1.title
  +display
  margin: 0 auto
  font-size: 4em

// h{n} tag size calc
@for $i from 1 through 5
  h#{$i}
    font-size: $size-header-base * (1 - ($i / 10))

.postinfo, .postinfo a
  +monospace
  font-size: 0.8em
  color: var(--color-fg)

.before-after
  +monospace
  +italic
  margin: 0
  display: block
  font-size: 0.8em

ol, ul
  list-style-position: outside
  padding-left: 1.1em

ol
  list-style-type: decimal
  p
    margin: 0 auto

hr
  border: 0
  border-top: 2px dashed var(--color-fg)
  margin-top: 2em

blockquote
  display: block
  margin: 0 auto
  border-radius: 0.4em
  background-color: rgba(255,204,0,0.3)
  p
    padding: 0.5em

pre
  +highlight
  display: block
  white-space: pre
  padding: 0.5em
  border-radius: 0.4em
  overflow: hidden
  overflow-x: scroll
  code
    overflow: hidden
    overflow-x: scroll

table
  border-collapse: collapse
  margin: 0 auto
  border: 2px solid var(--color-fg)
  thead
    +highlight
    border-bottom: 2px solid var(--color-fg)
  tr
    display: table-row
    transition: all 0.05s linear
  tr.odd, tr.even
    &:hover
      +highlight
  td, th
    margin: 0 auto
    padding: 0.3em 0.5em

caption
  +monospace
  font-size: 0.8em

.sidebar
  +highlight
  margin: 0 auto
  height: 100%
  width: $size-sidebar-width
  position: fixed
  top: 0
  left: 0
  overflow-x: hidden
  overflow-y: scroll
  nav
    > ul
      padding: 0
      list-style-type: none
    li
      font-weight: 700
      line-height: 2em
      & a:hover
        +highlight
      a
        padding: 0 1em
        display: block
        color: var(--color-fg)
      ul
        margin-left: 1em
        list-style-type: disc
        li
          font-weight: 400
          line-height: 1.5em
          a
            margin-left: -1em
          ul
            margin: 0
            padding: 0

.footnotes
  margin: 3em 0 2em 0
  ol
    list-style-type: none
    counter-reset: fn-counter
    padding-left: 1em
    margin: 0 auto
  ol li
    counter-increment: fn-counter
    position: relative
  ol li::before
    font-size: 0.9em
    content: counter(fn-counter)
    position: absolute
    left: -1.1em
  a, ol, li, p
    +monospace
  ol, p
    font-size: 0.9em
    > li:hover
      +highlight
      transition: all 0.05s linear

a.footnote-back
  float: right
  padding: 0

a.footnote-ref
  font-size: 0.9em

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  top: 0.4em

footer
  +monospace
  +subtle
  text-align: right
  font-size: 0.8em
